<h1>Add a dose to your cocktail</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.submit %>
      <% end %>
      <%= link_to 'back to index', cocktails_path  %>
    </div>
  </div>
</div>
